.login-container {
    padding: 10px 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 0;
    max-width: 100%;
    min-height: 100vh;
    background-size:cover;
    background-position:center;
    background-image:linear-gradient(#fff, rgba(255, 255, 255, 0.155)), url("../../img/pic1-login.jpeg");
}

.input-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
    
    border-radius: 5px;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.761);
    border-top: solid 1px #4B6587;
    border-left: solid 1px #4B6587;
    border-bottom: solid 1px #4B6587;
    border-right: solid 1px #4B6587;
    box-shadow: 0 3px 20px #aba9a9;
    
    display: flex;
    flex-direction: column;
    color: #444;
}

.login-box {
    width: 100%;
}

.submit-btn {
    margin-top: 10px;
    width: 100%;

    font-family: 'General Sans', sans-serif;
    font-weight: 500;
    color: #F0E5CF;
    background-color: #4B6587
}

.submit-btn:hover {
    color: #F0E5CF;
    background-color: #2c3b4f;
}

.submit-btn:active {
    --bs-btn-active-bg: #4B6587;
    --bs-btn-active-color: #F0E5CF;
}

.logo-container {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: solid 1px #4B6587;
}

.login-container h5 {
    padding-top: 10px;
    font-weight: 600;
}

.logo-container img {
    width: 30px;
    margin-right: 5px;
}

.logo-container h3 {
    font-family: 'General Sans', sans-serif;
    color: #4B6587;
    font-weight: 600;
    margin-bottom: 0;
}

.bottom-container {
    width: 100%;
    max-width: 400px;

    padding: 10px 10px;
    
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.761);
    border-top: solid 1px #4B6587;
    border-left: solid 1px #4B6587;
    border-bottom: solid 1px #4B6587;
    border-right: solid 1px #4B6587;
    box-shadow: 0 3px 20px #aba9a9;

    
    display: flex;
    flex-direction: column;
    color: #444;
}

.bottom-container p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'General Sans', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #4B6587
}

.bottom-hyperlink {
    color: #65bdc6;
    text-decoration: underline;
}

.bottom-hyperlink:hover {
    color: #4B6587;
}

.no-input {
    color: #c21807;
    font-size: 14px;
    font-weight: 500;
}

.footer-before {
    padding: 10px 10px;
    font-family: 'General Sans', sans-serif;
    font-weight: 500;
}
