.profile-container {
    min-height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.profile-container h2 {
    text-align: center;
    margin-bottom: 10px;
}

.profile-box {
    padding-top: 20px;
    height: 100%;
    width: 100%;
    max-width: 450px;

    border-top: solid 1px #4B6587;
    border-left: solid 1px #4B6587;
    border-bottom: solid 1px #4B6587;
    border-right: solid 1px #4B6587;
    box-shadow: 0 3px 20px #aba9a9;

    border-radius: 4px;
}

.profile-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px
}

.profile-img img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius:50%;
    border-top: solid 1px #4B6587;
    border-bottom: solid 1px #4B6587;
}

.profile-text {
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'General Sans', sans-serif;
    padding-bottom: 5px;
}

.profile-text h3 {
    text-align: center;
    font-weight: 500;
}

.profile-text p {
    margin-bottom: 8px;
    font-size:16px;
}

.profile-footer {
    border-top: solid 1px #4B6587;
    align-items: center;
}

.profile-button {
    background-color: #4B6587;
    color: #F0E5CF;

    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    font-family: 'General Sans', sans-serif;
    font-weight: 600;
}

.profile-button:hover {
    background-color: #F7F6F2;
    color: #4B6587;
}

.profile-button:hover {
    --bs-btn-active-bg: #4B6587;
    --bs-btn-active-color: #F0E5CF;
}

.profile-modal {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.form-modal {
    display: flex;
    flex-direction: column;
}

.form-img {
    border-top: #4B6587;
    display: flex;
    justify-content: center;
}
.form-img img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 9px;
    border-top: solid 1px #4B6587;
    border-left: solid 1px #4B6587;
    border-bottom: solid 1px #4B6587;
    border-right: solid 1px #4B6587;
}

.form-label {
    margin-bottom: 2px;
}

.form-input {
    width: 100%;
    height:fit-content;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 9px 9px;

    border: 1.3px solid #ced4da;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.form-footer {
    margin-top: 10px;
}
