.home-background {
    max-width: 100%;
    background-color: #FFF !important;
}

.container {
    --bs-gutter-x:0;
}

.hero-header {
    display: flex;

    min-height:60vh;
    max-width: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient(#ffffffcd, #c8c6c695),url("../../img/home-header.webp")
}

.text-header {
    position: relative;
    max-width: 55%;
    text-align: center;
}

.text-header h1 {
    color: #444;
    font-weight: 600;
}

.h1-food {
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    color: #4B6587;
}

.text-header p {
    font-size: 20px;
    line-height: 25px;
}

/* Section 1 */

.section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.section-1 h1{
    margin-bottom: 10px;
}

.section1-all {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;  
}

.section1-box {
    max-height: 400px;
    position: relative;
    padding: 15px 15px;
    /* background-color: #4B6587; */
    border-top: solid 1px #4B6587;
    border-left: solid 1px #4B6587;
    border-bottom: solid 1px #4B6587;
    border-right: solid 1px #4B6587;
}

.section1-box:hover {
    box-shadow: 0 3px 20px #aba9a9;
}

.section1-img img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.section1-img img:hover {
    filter:saturate(120%);
    cursor:pointer;
}

.section1-box-text h4 {
    font-family: 'General Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #4B6587;
}

.section1-box-text h4:hover {
    cursor:pointer;
    color: #4B6587;
    text-decoration: underline;
}

.section1-box-text p {
    position: relative;
    margin:0;
    padding:0;
    line-height:21px;
    color: #444;
}

.section1-readmore {
    text-decoration: underline;
    font-weight: 500;
}

.section1-readmore:hover {
    cursor:pointer;
    color:#4B6587;
}

/* Section 2 */ 

.section-2 {
    display:flex;
    flex-flow: column;
    align-items: center;
    margin-top: 30px;
    padding: 30px 30px;
    min-height: 10vh;
    background-image:linear-gradient(#c8c6c682, #ffffff7c), url("../../img/home-section-2.webp");
    background-position: center;
    background-attachment:fixed;
    background-size:cover;
}

.section-2 h2{
    margin-bottom:2px;
    background-color:#FFF;
    padding-left: 5px;
    padding-right: 5px;
}

.section2-span {
    color:#4B6587;
}

.section-2 h3{
    margin-bottom:2px;
    background-color:#FFF;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.section-3, .section-4, .section-5 {
    display: flex;
    flex-flow:column;  
    justify-content: center;
    align-items: center;
}

/* Section 3 */
.section-3 {
    background-color: #F7F6F2;
    padding-bottom: 40px;
}
