body {
  background-color: #FFF !important;
  margin: 0;
  color: #444;
  font-family: 'Erode', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
