.not-logged {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.not-logged-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.not-logged h4 {
    color: #4B6587;
    margin-bottom: 15px;
    text-align: center;
}

.not-logged p {
    font-family: 'General Sans', sans-serif;
    font-size: 20px;
    color:#4B6587;
    font-weight: 600;
}

.href-p {
    color:#65bdc6;
    text-decoration: underline;
}

.href-p:hover {
    color:#4B6587;
}